<header>
 <%= link_to "Friends App", root_path %>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><%= link_to "About us", home_about_path %></li>
        <%if user_signed_in?%>
        <li><%= link_to "edit profile", edit_user_registration_path %></li>
        <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        <%else%>
        <li><%= link_to "login", new_user_session_path %></li>
        
        <li><%= link_to "Register", new_user_registration_path %></li>
        <%end%>
    </ul>
</nav>
</header>